<div id="<%= dom_id product %>">
  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= product.color %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= product.size %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= product.stock %>
  </p>

  <% if product.images.attached? %>
    <% product.images.each do |image|%>
      <%= image_tag(image, width: 200) %>
    <%end%>
  <%end%>
</div>
